* {
  font-family: 'Oswald', sans-serif;
}

.app-title {
  font-size: 60px;
}

.app-subtitle {
  font-size: 30px;
}

.app-link {
  margin: 10px;
  font-size: 25px;
}

.task-div {
  border-radius: 5px;
}

.Task {
    display: flex;
    background-color: #eee;
    padding: 6px;
    margin-bottom: 2px;
    border: 1px solid #fcb045;
    color: #1dc4fd;
    border-radius: 5px;
  }
  
  .Task__name {
    flex: 1;
  }
  
  .Task__name.is-complete {
    text-decoration: line-through;
  }
  
  .Task__button {
    height: 20px;
    font-family: serif;
    font-size: 20px;
    line-height: 16px;
    display: block;
    padding: 0;
    margin-left: 4px;
    border: 0;
    background: 0;
  }
  
  .Task__button span
  .undo-complete span {
    line-height: 24px;
  }

  .Task__button {
    margin-right: 5px;
    margin-top: 3px;
  }

  .Task__button3 {
    margin-top: 6px;
  }

  .Undo__complete {
    margin-bottom: 5px;
  }

  