* {
    font-family: 'Oswald', sans-serif;
}

.app-title {
    font-size: 60px;
}

.app-subtitle {
    font-size: 30px;
}

.app-link {
    margin: 10px;
    font-size: 25px;
}

.task-display {
    display: flex;
    margin: auto;
}

.incomplete {
    margin: auto;
    margin-top: 25px;
}

.complete { 
    margin: auto;
    margin-top: 25px;
}